---

---

<section class="flex flex-col justify-center items-start gap-6 w-full px-4">
  <h3 class="font-bold text-xl">Um pouco da minha história...</h3>
  <div class="flex flex-col justify-between items-center gap-5">
    <p class="text-[var(--text-color-primary)] text-sm">
      Sou Paulo, formado em Engenharia Civil pela PUC-GO em 2017, mas a vida me
      levou a um novo desafio: a transição para a tecnologia. Durante a
      pandemia, com a crise no setor de engenharia, descobri a programação ao
      acaso, vendo um vídeo da Nath Cury. Aquilo despertou em mim a vontade de
      explorar uma área mais dinâmica, flexível e conectada ao futuro.
      <br />
      <br />
      Em 2022, comecei minha jornada na Trybe, onde mergulhei de cabeça no desenvolvimento
      web. Foi um ano intenso, cheio de projetos, noites viradas e muita prática.
      Finalizei o curso em 2023, entregando trabalhos individuais e em equipe que
      me ensinaram muito mais do que só código.
      <br />
      <br />
      Hoje, sigo evoluindo com estudos contínuos, projetos pessoais e freelances
      que me ajudam a transformar ideias em soluções reais. Ah, e quando não estou
      codando, estou curtindo rock, assistindo animes ou jogando basquete.
    </p>
  </div>
</section>
