---
import Icons from "./Icons.astro";
import Navbar from "./Navbar.astro";
---

<header class="p-4">
  <section class="flex flex-row justify-between items-center">
    <Navbar />
    <Icons />
  </section>
</header>
