---
import TypingTxt from "./TypingTxt.astro";
---

<section
  class="absolute top-80 left-4 flex flex-col lg:flex-row items-center justify-center gap-8 py-8"
>
  <div
    class="flex flex-col justify-center items-start gap-1 h-64 lg:gap-2 lg:w-1/2"
  >
    <h3>Olá, Paulo Bruno aqui, sou...</h3>
    <TypingTxt />
    <p>
      Desenvolvedor com sólidos conhecimento em React, Nextjs, Node, Typescript
      e Figma. Apaixonado por soluções criativas e inovadoras que facilitem a
      vida cotidiana das pessoas.
    </p>
    <a
      target="_blank"
      rel="noreferrer noopener"
      class="flex justify-center items-center bg-[var(--secondary)] font-bold text-[var(--text-color-secondary)] w-full sm:w-24 py-1 lg:px-7 lg:py-1 rounded-lg shadow-sm mt-5 ml- lg:mt-9"
      href="/CV Paulo Bruno.pdf"
    >
      Ler CV
    </a>
  </div>
</section>
