---
import { projects } from "../constants/projectsData";
import ProjectCard from "./ProjectCard.astro";
---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-20">
  <ProjectCard data={projects[0]} />
  <ProjectCard data={projects[1]} />
  <ProjectCard data={projects[2]} />
  <ProjectCard data={projects[4]} />
</section>
