---
import { devStacks } from "../constants/stacksData";
---

<section class="flex flex-col items-center justify-center gap-10 px-4 mb-12">
  <h2 class="font-bold">Tecnologias que utilizo</h2>
  <div class="grid grid-cols-3 gap-6">
    {
      devStacks.map((stack) => (
        <img src={stack.src} alt={stack.src} class="w-16 h-16" />
      ))
    }
  </div>
</section>
